html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #fff;
  color: #000;
  font-family: "IBM Plex Sans","Helvetica Neue",Arial,sans-serif !important;
  -webkit-text-size-adjust: 100%;
}
@media screen and (min-width: 657px) {
  html { font-size: 16px; }
  button { font-size: 13px; }
}
@media screen and (max-width: 656px) {
  html { font-size: 2.43902439vw; }
  button { font-size: 1.98170731vw; }
}

div {
  display: block;
}

canvas {
  width: 100%;
}

#content, #topbar, #explainer-text, #controls {
  width: 44rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}
#content, #topbar {
  user-select: none;
  -webkit-user-select: none;
}
#topbar {
  display: flex;
  justify-content: space-between;
  padding: 0.0rem 0.5rem;
}

.topbar-entry {
  width: 13rem;
}

#text-toggle {
  cursor:pointer;
  text-decoration:underline;
  color: #444;
}

#explainer-text {
  display: none;
  font-size: 1.1em;
  line-height: 1.45em;
  width: 41rem;
  padding: 0.0rem 1.5rem;
}
@media screen and (max-width: 550px) { #explainer-text { font-size: 1.2em; line-height: 1.5em; } }
@media screen and (max-width: 450px) { #explainer-text { font-size: 1.4em; line-height: 1.6em; } }
@media screen and (max-width: 360px) { #explainer-text { font-size: 1.6em; line-height: 1.7em; } }

b {
  font-weight: normal;
  text-shadow: 0px 0.2px, 0.2px 0px, 0.14px 0.14px;
}

.control-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40em;
  max-width: 100%;
}

.control-label {
  width: 10em;
}

.control-input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.control-input-linked {
  opacity: 0.333;
}

.control-input-bag {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.25rem 0;
}

.control-input-bag-row, .control-input-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.control-input-bag-row {
  flex-wrap: wrap;
}

.control-input-bag-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.25rem;
}
.control-input-bag-contents input[type="radio"], input[type="checkbox"] {
  width: 0.875rem;
  height: 0.875rem;
  margin: 0 0 0 0.25rem;
}

.control-range {
  width: 100%;
  margin: 0.25rem 0;
  height: 0.5rem;
}
/*@NOTE: To use ::-webkit-slider-thumb, you need to set -webkit-appearance:none; on the element, itself */
/*
.control-range::-webkit-slider-thumb {
  -webkit-appearance:none;
  width:0.875rem;
  height:0.875rem;
  background:indianred;
}
*/

.control-range-text {
  width: 3.5rem;
  margin: 0 0.25rem;
  font-size: 80%;
}

.control-link {
  margin: 0.25em 0.4em 0.25em 0.25em;
  border: 0px;
}

.link-toggle {
  position: relative;
  display: inline-block;
  width: 1.0em;
  height: 1.0em;
}
/* Hide default HTML checkbox */
.link-toggle input {
  width: 0;
  height: 0;
  opacity: 0;
}

.link-text {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  background-color: #eee;
  font-size: 75%;
  cursor: pointer;
}
.link-text::before {
  content: "";
}
input:checked + .link-text::before {
  content: "🔗";
}
@media (hover: hover) and (pointer: fine) {
  input:hover + .link-text {
    border: 1px solid rgba(0,0,0,0.5);
  }
}
input:focus-visible + .link-text {
  border: 2px solid #000;
}
